.root {
  .scenes {
    position: relative;
    .scene {
      position: absolute;
      opacity: 0;
      // transition: all 0.25s ease-in;
      img {
        width: 100%;
        max-width: 375px;
      }
      &.current {
        opacity: 1;
      }
    }
  }
}
